<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Image Colors Palette Generator</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <!-- <link rel="stylesheet" href="static/css/styles.css" /> -->
        <!-- <script defer src="static/scripts/scripts.js"></script> -->
    </head>
    <body>
        <section class="section is-primary has-text-centered">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8">
                        <h1 class="title">Image Color Palette Generator</h1>
                        <div class="image-wrapper">
                            <img
                                alt="default-image"
                                src="{{ url_for('static', filename='/assets/img/default-image.jpg') }}"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8">
                        <div
                            class="file has-name is-centered is-dark is-fullwidth"
                        >
                            <label class="file-label">
                                <input
                                    class="file-input"
                                    type="file"
                                    name="resume"
                                />
                                <span class="file-cta">
                                    <span class="file-label">
                                        Choose a File
                                    </span>
                                </span>
                                <span class="file-name"> No File Chosen </span>
                            </label>
                            <button
                                class="button is-dark is-normal is-onethird"
                                action="{{ url_for('main.home') }}"
                                method="post"
                            >
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8">
                        <br />
                        <h2 class="subtitle">Top 10 Most Common Colors</h2>

                        <table class="table is-fullwidth is-narrow is-centered">
                            <thead>
                                <tr>
                                    <td><strong>Color</strong></td>
                                    <td><strong>Color Code</strong></td>
                                    <td><strong>Percent</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for color, count in top_colors %}
                                <tr>
                                    <td>
                                        <div
                                            class="box"
                                            style="background-color: {{ color }}"
                                        ></div>
                                    </td>
                                    <td>{{ color }}</td>
                                    <td>{{ count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
